{% extends 'base.html.twig' %}

{% block title %}Reinitialisation de mot de passe
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4">Reinitialisation de mot de passe</h1>

		{{ form_start(requestPassForm) }}

		<div class="form-group">
			{{ form_label(requestPassForm.email) }}
			{{ form_widget(requestPassForm.email) }}
			<div class="form-errors">
				{{ form_errors(requestPassForm.email) }}
			</div>
		</div>
		{{ form_end(requestPassForm) }}


	{% endblock %}
