{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation de mot de passe
{% endblock %}

{% block body %}


	<h1 class="mt-4">Demande de reinitialisation de mot de passe</h1>
	{{ form_start(passwordInitForm) }}
	<div class="form-group">

		{{ form_label(passwordInitForm.password) }}
		{{ form_widget(passwordInitForm.password) }}


		<div class="form-errors">
			{{ form_errors(passwordInitForm.password) }}
		</div>
		{{ form_end(passwordInitForm) }}

	</div>


{% endblock %}
