{# cette page étend le twig base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}blognote
{% endblock %}

{% block body %}


{#{% if is_actif == true %} #}


<button class='btn btn-primary mb-4'>
	<a class="dropdown-item" href="{{ path('app_admin_comment_add') }}">Créer un commentaire</a>
</button>

{% if comments is not empty  %}
	<table class="table table-hover">
		<thead>
			<tr class="table-danger">
				<th scope="col">voir</th>
				<th scope="col">Commentaire</th>
				<th scope="col">utilisateur</th>
				<th scope="col">Astuce</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>


		<tbody>

			{% for comment in comments %}
				<tr class="table-dark">
					<th scope="row">

						<a href="{{ path('app_admin_comment_show',{id: comment.id}) }}">{{ ux_icon('mingcute:eye-line', {height:'20px', width:'20px'}) }}</a>

					</th>
					<td>{{ comment.content|slice(0, 50) }}...
					</td>
					<td>{{ comment.user.username }}</td>
					<td>{{ comment.trick.title }}</td>
					<td>


						<a onclick="return confirm('Etes vous sûre de vouloir supprimer ce commentaire')" href="{{ path('app_admin_comment_delete',{id: comment.id}) }}">{{ ux_icon('mingcute:delete-line',{height:'20px', width:'20px'}) }}</a>


						<a href="{{ path('app_admin_comment_edit',{id: comment.id}) }}">{{ ux_icon('mingcute:edit-line', {height:'20px', width:'20px'}) }}</a>

					</td>
				</tr>
			</ul>
		</tbody>
	</td>
</tr>{% endfor %}</tbody></table>{% else %}<h5><div class="alert alert-dismissible alert-danger"><button type="button" class="btn-close" data-bs-dismiss="alert"></button><strong>Oups!!</strong>Il y'a plus de commentaires</div></h5>{% endif %}{#	{% endif %} #}{% endblock %}
