{# cette page étend le twig base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Commentaire
{% endblock %}

{% block body %}

	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action active">
			<h4>
				Commentaire :
				<hr>

				{{ comment.content }}</h4>
		</a>

		<li class="list-group-item d-flex justify-content-between align-items-center">
			Utilisateur du commentaire
			<span class="badge bg-primary rounded-pill">{{ comment.user.username }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			L'astuce du commentaire
			<span class="badge bg-primary rounded-pill">{{ comment.trick.title }}</span>
		</li>

		<li class="list-group-item d-flex justify-content-between align-items-center">
			Date de création
			<span class="badge bg-primary rounded-pill">12/10/2035</span>
		</li>


		{#
																												<ul class="list-group mt-2">
																													<li class="list-group-item d-flex justify-content-between align-items-center">
																														Nombres d'astuces
																														<span class="badge bg-primary rounded-pill">{{ categorie.getTricks|length  }}</span>
																													</li>
																													<li class="list-group-item d-flex justify-content-between align-items-center">
																														Nombre de categories
																														<span class="badge bg-primary rounded-pill">{{ categorie.getCategories|length  }}</span>
																													</li>
																										
																												</ul>
																										        #}
	</div>
{% endblock %}
