{# cette page étend le twig base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}blognote
{% endblock %}

{% block body %}


{#{% if is_actif == true %} #}


<button class='btn btn-primary mb-4'>
	<a class="dropdown-item" href="{{ path('app_admin_trick_add') }}">Créer une astuce</a>
</button>

{% if tricks is not empty  %}
	<table class="table table-hover">
		<thead>
			<tr class="table-primary">
				<th scope="col">voir</th>
				<th scope="col">Titre</th>
				<th scope="col">Contenu de l'astuce</th>
				<th scope="col">Auteur de l'astuce</th>
				<th scope="col">Date</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>


		<tbody>

			{% for trick in tricks %}
				<tr class="table-dark">
					<th scope="row">

						<a href="{{ path('app_admin_trick_show',{id: trick.id}) }}">{{ ux_icon('mingcute:eye-line', {height:'20px', width:'20px'}) }}</a>

					</th>
					<td>{{ trick.title }}</td>
					<td>{{ trick.content|slice(0, 50)|nl2br }}...</td>
					<td>{{ trick.user.username}}...</td>
					<td>{{ trick.createdAt|date("d/m/Y") }}</td>
					<td>


						<a onclick="return confirm('Etes vous sûre de vouloir supprimer cette astuce')" href="{{ path('app_admin_trick_delete',{id: trick.id}) }}">{{ ux_icon('mingcute:delete-line',{height:'20px', width:'20px'}) }}</a>


						<a href="{{ path('app_admin_trick_edit',{id: trick.id}) }}">{{ ux_icon('mingcute:edit-line', {height:'20px', width:'20px'}) }}</a>

					</td>
				</tr>
			</ul>
		</tbody>
	</td>
</tr>{% endfor %}</tbody></table>{% else %}<h5><div class="alert alert-dismissible alert-danger"><button type="button" class="btn-close" data-bs-dismiss="alert"></button><strong>Oups!!</strong>Il y'a plus d'astuces</div></h5>{% endif %}{#	{% endif %} #}{% endblock %}
